<html>
  <head>
    <title>Inventory App</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Inventory App</h1>
    <a href="/"><button>Categories</button></a>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Category ID</th>
          <th>Quantity</th>
          <th>Price (USD)</th>
        </tr>
      </thead>
      <tbody>
        <% items.forEach(item => { %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.category_id %></td>
            <td><%= item.stock_quantity %></td>
            <td>$<%= item.price %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>