<html>
  <head>
    <title>Inventory App</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Cateogories</h1>
    <ul>
      <% categories.forEach(category => { %>
        <li>
          <%= category.category %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>