<html>
  <head>
    <title>Inventory App</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Cateogories</h1>
    <a href="/"><button>Products</button></a>
    <ul>
      <% categories.forEach(category => { %>
        <% console.log("categoryId: ", category.id)%>
        <a href=<%=`/categories/${category.id}`%>>
          <li>
            <%= category.category %>
          </li>
        </a>
      <% }); %>
    </ul>
  </body>
</html>