<html>
  <head>
    <title>Inventory App</title>
  </head>
  <body>
    <h1>Inventory App</h1>
    <ul>
      <% items.forEach(item => { %>
        <li>
          <%= item.name %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
